
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
:root{
    --blue1: #FF0000;
}

body {
    font-family: 'Gentium Book Plus', serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.page {
    position: relative;
    height: 100vh;
}
.container {
    background-color: whitesmoke;
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "nav aside"
                         "section aside"
                         "footer aside"
                         ;
    height: 100%;
}
.navbar {
    background: #03045E;
    grid-area: nav;
    padding: 10px 0 0 0 ;
    border-radius: 0 0 50% 10%;
    width: 100%;
    height: 80px;
    animation: navbar 1s ease-in-out 2s;
    
}
@keyframes navbar {
    0% {
        transform: translateY(-200px);
        
    }
    100% {
        transform: translateY(0);
    }
}
.navbar__content {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "logo navbar_content";
    padding: 0 0 0 20px;

   
}

.navbar__content img {
    width: 50px;
    grid-area: logo;
}
.navbar__content ul {
    display: flex;
    list-style: none;
    grid-area: navbar_content;
}
.navbar__content ul li a{
    text-decoration: none;
    color: #CAF0F8;
    font-weight: 700;
    margin: 10px;
}

.main-content {
    grid-area: section;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-content h1{
    font-size: 72px;
    font-weight: bold 900;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.main-content p:nth-child(2){
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.main-content p:nth-child(3){
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
    padding-left: 80px;
    padding-right: 40px;
}


.loader {
    background: #CAF0F8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 2s linear forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader img{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    margin: 10px;
    rotate: 45;
    transform: scale(0.5);

    animation: logo-loader 2s ease-in-out infinite;
}

@keyframes logo-loader {
    0%{
        transform: scale(0.5);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    90% {
        transform: scale(3.5);
    }
}
