*{
    margin: 0px;
}

body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23005a99' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%239ebee2' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23014e87' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2396b7d6' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23014a82' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2385a8c3' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23024e8c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2383acc4' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23024681' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2372a1bb' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23034686' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%236496b1' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;   
    background-size: cover;
    color: black;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
}

header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: #011F4B;
    color: white;
    margin: 0px;
    padding: 10px 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: 20px 0px;
}

main > h1 {
    font-size: xx-large;
}

div.temporal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    align-self: center;
    width: max-content;
    margin: 10px 0px;
}
div.part1{
    align-self: center;
    width: fit-content;
    padding: 20px;
    margin: 40px 0px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

img.temporal_img {
    width: 128px;
    height: 128px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    border-radius: 10px;
}

img.temporal_img_alert {
    width: 256px;
    height: 256px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    border-radius: 10px;
}

header > object{
    width: 80%;
    height: 50px;
}

h1{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    padding: 20px;
}

footer > div {
    width: 100%;
    margin: 20px;
}

a.references {
    color: lightcyan;
    font-size: smaller;
}


img.brand_logo {
    height: 64px;
    width: 64px;
    object-fit: contain;
    margin: 10px 5px;
}


section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
}

main > div.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
    color: black;
    height: fit-content;
}

h1.title {
    font-size: 64px;
    color: #011F4B;
}