*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100vw;
    height: auto;
    clip: auto;
}

header object{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    clip: auto;
    overflow: hidden;
}

.coming{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}